


/* UI Object */
.faq{border-bottom:1px solid #ddd;font-size:12px}
.faq .hgroup{position:relative;margin:0 0 10px 0;*zoom:1}
.faq .hgroup .trigger{overflow:visible;position:absolute;top:50%;right:0;margin:-7px 0 0 0;padding:0;border:0;background:none;font-size:12px;cursor:pointer}
.faq ul{margin:0;padding:0;list-style:none}
.faq .q{margin:0;border-top:1px solid #ddd}
.faq .q a.trigger{display:block;padding:10px 15px;background:#fafafa;font-weight:bold;color:#333;text-align:left;text-decoration:none !important}
.faq .hide .q a.trigger{font-weight:normal;background:none}
.faq .q a.trigger:hover,
.faq .q a.trigger:active,
.faq .q a.trigger:focus{background:#f8f8f8;color:#000}
.faq .a{margin:0;padding:10px 15px;line-height:1.5}
/* //UI Object */



/* UI Object */
.section_ul{position:relative;border:1px solid #ddd;background:#fff;font-size:12px;font-family:Tahoma, Geneva, sans-serif;line-height:normal;*zoom:1}
.section_ul a{color:#666;text-decoration:none}
.section_ul a:hover,
.section_ul a:active,
.section_ul a:focus{text-decoration:underline}
.section_ul em{font-style:normal}
.section_ul h2{margin:0;padding:10px 0 8px 13px;border-bottom:1px solid #ddd;font-size:12px;color:#333}
.section_ul h2 em{color:#cf3292}
.section_ul ul{margin:13px;padding:0;list-style:none}
.section_ul li{position:relative;margin:0 0 10px 0}
.section_ul li:after{display:block;clear:both;content:""}
.section_ul li .bu{float:left;margin:0 4px 0 0;color:#999}
.section_ul li a{float:left}
.section_ul li .time{float:right;clear:right;font-size:11px;color:#a8a8a8;white-space:nowrap}
.section_ul .more{position:absolute;top:10px;right:13px;font:11px Dotum, 돋움;text-decoration:none !important}
.section_ul .more span{margin:0 2px 0 0;font-size:16px;font-weight:bold;color:#d76ea9;vertical-align:middle}
/* //UI Object */


